.contactUs{
    width: 100%;
    padding: 100px 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactUsTitle{
    font-size: 40px;
    margin-bottom: 55px;
}

.contactUsList{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contactUsList li{
    list-style: none;
    width: 200px;
    padding: 40px 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;   
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(224, 224, 224);
}

.contactUsList span{
    display: block;
    color: #006ab0;
    margin-bottom: 10px;
    font-size: 22px;
}

.contactUsList p{
    font-size: 12px;
    font-weight: 600;
}

.contactUsList a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contactUsList a span{
    color: #006ab0;
}

.contactUsList a p{
    color:   black;
}


@media screen and (max-width: 1280px) {
    .contactUs{
        padding: 100px 10%;
    }

    .contactUsList li{
        width: 180px;
        box-sizing: border-box;
    }

}


@media screen and (max-width: 500px) {
    
    .contactUs{
        width: 100%;
        padding: 100px 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contactUsTitle{
        font-size: 35px;
        margin-bottom: 55px;
    }
    
    .contactUsList{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .contactUsList li{
        list-style: none;
        width: 200px;
        padding: 40px 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;   
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 15px rgb(224, 224, 224);
    }
    
    .contactUsList span{
        display: block;
        color: #006ab0;
        margin-bottom: 10px;
        font-size: 22px;
    }
    
    .contactUsList p{
        font-size: 12px;
        font-weight: 600;
    }
    
    .contactUsList a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .contactUsList a span{
        color: #006ab0;
    }
    
    .contactUsList a p{
        color: black;
    }



}








